<h1>Showing card</h1>

<p><%= @card.question %></p>

<p><%= @card.answer %></p>

<p><%= @card.notes %></p>

<p><%= link_to "Edit", edit_card_path(@card) %></p>

<p><%= link_to "Back to cards", cards_path %></p>